footer{
    height: 250px;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
.content{
    color: red;
    width: 17%;
    display: inline;
    float: left;
}
.content ul{
    padding-top: 0px;
}
.content li{
    line-height: 30px;
    display: block;
    padding-left: 0px;
}
.content ul p{
    font-family: Arial Rounded MT Bold;
}
.content li a{
    color: white;
    text-decoration: none;
    font-family: Al Nile;
}
.content li a:hover{
    text-decoration: underline;
}
#sub-form{
    margin-top: -20px;
    margin-left: 0px;
}
#sub-mail{
    height: 23px;
    width: 190px;
}
#btn-sub{
    width: 75%;
    height: 30px;
}
#subcribe-mail{
    width: 20%;
    color: white;
    display: inline;
    float: left;
}
#title2{
    font-family: Arial Rounded MT Bold;
    font-size: 17px;
}
#content{
    margin-top: -12px;
    font-family: Apple Symbols;
}
hr{
    margin: 0px;
    height: 4px;
    background-color: white;
}
